<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Previsão do Tempo</title>

    <meta name="author" content="Leander Seefeld">
    <link rel="icon" href="img/haze_64.png">

    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src='app/favorites.controller.js'></script>
    <script src='app/fav-city.directive.js'></script>
</head>

<body ng-app="LeWeather" ng-controller="favoritesCtrl">

    <header>
        <div class="logo"></div>
        <div class="logo-text">Previsão do Tempo</div>
    </header>

    <section class="new-city">
        <form ng-submit="bookmark()">
            <input type="text" name="city" placeholder="Cidade, BR" ng-model="newFavorite">
            <input type="submit" value="Cadastrar">
        </form>
    </section>

    <section class="fav-cities">
        <div ng-if="!favCities">No favorite cities to display.</div>
        <fav-city class="fav-city" ng-repeat="city in favCities" city="city" />
    </section>

</body>

</html>
