<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Previsão do Tempo</title>

    <meta name="author" content="Leander Seefeld">
    <link rel="icon" href="img/haze_64.png">

    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src='app/app.js'></script>
    <script src='app/start.filter.js'></script>
    <script src='app/celsius.filter.js'></script>
    <script src='app/favorites.controller.js'></script>
    <script src='app/weather.controller.js'></script>
    <script src='app/fav-city.directive.js'></script>
</head>

<body ng-app="LeWeather" ng-controller="FavoritesController">

    <header>
        <div class="logo"></div>
        <div class="logo-text">Previsão do Tempo</div>
    </header>

    <section class="new-city">
        <form ng-submit="bookmark()">
            <input type="text" name="city" placeholder="Cidade, BR" ng-model="newFavorite">
            <input type="submit" value="Favoritar">
        </form>
    </section>

    <section class="fav-cities">
        <div class="tinted-glass-black" ng-if="!favCities">No favorite cities to display.</div>
        <fav-city class="fav-city" ng-repeat="city in favCities" city="city" ng-class="{active: city.active}" />
    </section>

    <section class="tinted-glass-black weather-info" ng-show="activeCity" ng-controller="WeatherController">
        <div class="main-weather">
            <h1>{{ activeCity.name + ', ' + activeCity.country }}</h1>
            <img ng-if="weather[0]" src="http://openweathermap.org/img/w/{{ weather[0].weather[0].icon }}.png" />
            <!--            <span class="weather-data name">{{ weather[0].weather[0].main }}</span>-->
            <span class="weather-data description">{{ weather[0].weather[0].description }}</span>
            <div class="weather-data temperature-group">
                <span class="label">Temperaturas:</span>
                <span class="weather-data main-temp">{{ weather[0].main.temp | celsius }}</span>
                <div class="weather-data min-max">
                    <span class="weather-data max-temp">{{ weather[0].main.temp_max | celsius }}</span>
                    <span class="weather-data min-temp">{{ weather[0].main.temp_min | celsius }}</span>
                </div>
            </div>
        </div>
        <div class="complimentary-weather">
            <div class="main">
                <span class="weather-data pressure">Pressão: {{ weather[0].main.pressure || 'N/a' }}</span>
                <span class="weather-data sea-level">Nível do mar: {{ weather[0].main.sea_level || 'N/a' }}</span>
                <span class="weather-data humidity">Humidade: {{ weather[0].main.humidity || '0' }}%</span>
                <span class="weather-data clouds">Nuvens: {{ weather[0].clouds.all || '0' }}%</span>
                <span class="weather-data rain3h">Precipitação (3h): {{ weather[0].rain['3h'] || '0' }}mm</span>
            </div>
            <span class="weather-data day">{{ weather[0].dt_txt }}</span>
        </div>
        <div class="weather-next-days" ng-show="weather.length > 1">
            <h3>Próximos dias</h3>
            <div>
                <div class="weather-day" ng-repeat="dayWeather in activeCity.weather | start:1">
                    <span class="weather-data day">{{ dayWeather.dt_txt }}</span>
                    <div class="main">

                        <img ng-if="dayWeather" src="http://openweathermap.org/img/w/{{ dayWeather.weather[0].icon }}.png" />
                        <span class="weather-data description">{{ dayWeather.weather[0].description }}</span>
                        <span class="weather-data main-temp">{{ dayWeather.main.temp | celsius }}</span>
                        <span class="weather-data max-temp">{{dayWeather.main.temp_max | celsius }}</span>
                        <span class="weather-data min-temp">{{ dayWeather.main.temp_min | celsius }}</span>

                        <span class="weather-data label pressure">{{ dayWeather.main.pressure || 'N/a' }}</span>
                        <span class="weather-data label sea-level">{{ dayWeather.main.sea_level || 'N/a' }}</span>
                        <span class="weather-data label humidity">{{ dayWeather.main.humidity || '0' }}%</span>
                        <span class="weather-data label clouds">{{ dayWeather.clouds.all || '0' }}%</span>
                        <span class="weather-data label rain3h">{{ dayWeather.rain['3h'] || '0' }}mm</span>
                    </div>

                </div>

            </div>
        </div>
    </section>
</body>

</html>
