body {
    font-family: 'Helvetica', 'Verdana';
    background-color: #015C97;
    background-image: url(img/cloud_15.png);
    background-size: 200%;
    color: white;
    flex-direction: column;
}
header {
    margin: auto 10%;
    padding: 0.1em;
}
div.logo {
    background-image: url(img/slight_drizzle_256.png);
    background-size: 100%;
    height: 150px;
    width: 150px;
    display: inline-block;
}
div.logo-text {
    display: inline-block;
    font-size: 3.3em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, .5);
    font-family: 'Segoe Script';
    vertical-align: top;
    margin: .5em auto;
}
section {
    margin: 1em;
}
.new-city input {
    padding: 5px;
    margin: 0 10px 30px 10px;
    font-size: 1.1em;
    border-radius: 0px;
}
.new-city > form {
    display: flex;
    justify-content: center;
}
.new-city input[type="text"] {
    width: 18em;
    text-align: center;
    font-style: italic;
    border: solid 2px rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
}
.new-city input[type="text"]:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.new-city input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 0.9);
}
.new-city input[type="submit"] {
    background-color: rgba(255, 188, 0, 0.9);
    border: solid 2px rgb(255, 188, 0);
    font-weight: bold;
    padding: 10px;
    color: white;
}
.new-city input[type="submit"]:hover,
.new-city input[type="submit"]:focus {
    background-color: rgba(255, 209, 78, 0.9);
}
.fav-cities {
    margin: auto 10%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}
.tinted-glass-black,
.fav-city,
.fav-city.ng-enter-active {
    background-color: rgba(0, 0, 0, .4);
    border-style: none;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;
    margin: 0.3em 0.5em;
    padding: 0.6em 1em;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}
.fav-city,
.fav-city.ng-enter-active {
    cursor: pointer;
    max-width: 10em;
    min-width: 4em;
    text-align: center;
}
.fav-city.active,
.fav-city:hover {
    background-color: rgba(100, 100, 100, .3);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    transition: all .2s;
}
.fav-city > span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.fav-city > .remove {
    background-color: #FF4100;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    float: right;
    font-weight: bold;
    position: relative;
    top: -15px;
    right: -8px;
    margin: auto -10px;
    line-height: 18px;
    opacity: .8;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
.fav-city > .remove::after {
    content: 'x';
}
.fav-city > .remove:hover {
    background-color: #FF642F;
}
.fav-city > .remove.ng-hide {
    opacity: 0;
    display: block !important;
    transition: all linear .1s;
    width: 0px;
    height: 0px;
    top: -10px;
    right: -3px;
    font-size: 1px;
    line-height: 1px;
}
.weather-info {
    padding: 1em;
    margin: 2em auto;
    display: block;
    border-radius: 0px;
    overflow: auto;
    max-width: calc(855px + 1em);
}
.main-weather > h1 {
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}
.weather-data.main-temp {
    font-weight: bold;
}
.weather-data.main-temp::after,
.weather-data.max-temp::after,
.weather-data.min-temp::after {
    content: 'º'
}
.main-weather .main-temp {
    font-size: 2em;
}
.weather-info img {
    vertical-align: middle;
}
.weather-data.max-temp::before,
.weather-data.min-temp::before {
    content: '';
    width: 0;
    height: 0px;
    border: 8px solid transparent;
    position: relative;
    float: left;
    margin-right: 5px;
}
.weather-data.max-temp::before {
    border-bottom-color: red;
    top: -5px;
}
.weather-data.min-temp::before {
    border-top-color: lightblue;
    bottom: -3px;
}
.weather-data {
    display: inline-block;
    padding: 5px;
    margin: 2.5px;
}
.temperature-group .label {
    float: left;
    font-size: small;
    position: relative;
    left: 8px;
    top: 25px;
    line-height: 0;
}
.weather-data.name {
    color: green;
}
.complimentary-weather > .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.weather-next-days .weather-day {
    background-color: rgba(0, 0, 0, .2);
    overflow: hidden;
    transition: all linear .1s;
    padding: 0px 8px;
    max-width: 855px;
}
.weather-next-days .weather-day:not(:last-child) {
    margin-bottom: .75em;
}
.weather-next-days .weather-day:hover {
    background-color: rgba(200, 200, 200, .2);
    transition: all linear .1s;
}
.weather-data.min-max {
    display: inline-block;
    margin-left: 0px;
    padding-left: 0px;
}
.weather-data.min-max > * {
    display: list-item;
    list-style: none;
}
.weather-day .main-temp::before {
    content: '';
    display: inline-block;
    background-image: url(img/white-thermometer-16.png);
    width: 1em;
    height: 1em;
    background-size: 100%;
    position: relative;
    top: 2px;
}
.weather-data.description {
    margin-left: 0;
    padding-left: 0;
}
.main-weather > * {
    vertical-align: middle;
}
.weather-data.day {
    font-size: .7em;
    margin: 0;
    font-style: italic;
}
.weather-data.day::before {
    content: '';
    display: inline-block;
    background-image: url('img/clock-8-16.png');
    background-size: 100%;
    width: 1em;
    height: 1em;
    margin-right: 3px;
}
.weather-day .day {
    position: relative;
    top: 5px;
    display: inline;
}
.weather-day .weather-data {
    width: 60px;
    text-align: center;
}
.weather-day .weather-data.min-temp {
    margin-right: 20px;
}
.weather-day .weather-data.description {
    width: 120px;
}
.weather-data.label::before {
    font-size: x-small;
    line-height: 0;
    position: relative;
    float: left;
    top: -8px;
}
.label.pressure::before {
    content: 'Pressão:';
}
.label.sea-level::before {
    content: 'Nível do mar:';
}
.label.humidity::before {
    content: 'Humidade:';
}
.label.clouds::before {
    content: 'Nuvens:';
}
.label.rain3h::before {
    content: 'Precipitação (3h):';
}
