body {
    font-family: 'Helvetica', 'Verdana';
    background-color: #015C97;
    background-image: url(img/cloud_15.png);
    background-size: 200%;
    color: white;
}
header {
    margin: auto 10%;
    padding: 0.1em;
}
div.logo {
    background-image: url(img/slight_drizzle_256.png);
    background-size: 100%;
    height: 10em;
    width: 10em;
    display: inline-block;
}
div.logo-text {
    display: inline-block;
    font-size: 3.3em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, .5);
    font-family: 'Segoe Script';
    vertical-align: top;
}
section {
    margin: 1em;
}
section.new-city {
    // margin: auto 30%;
    //width: 30em;
}
.new-city input {
    padding: 5px;
    margin: 30px 10px;
    font-size: 1.1em;
    border-radius: 0px;
}
.new-city > form {
    display: flex;
    justify-content: center;
}
.new-city input[type="text"] {
    width: 18em;
    text-align: center;
    font-style: italic;
    border: solid 2px rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
}
.new-city input[type="text"]:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.new-city input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 0.9);
}
.new-city input[type="submit"] {
    background-color: rgba(255, 188, 0, 0.9);
    border: solid 2px rgb(255, 188, 0);
    font-weight: bold;
    padding: 10px;
    color: white;
}
.new-city input[type="submit"]:hover,
.new-city input[type="submit"]:focus {
    background-color: rgba(255, 209, 78, 0.9);
}
.fav-cities {
    margin: auto 10%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}
.tinted-glass-black,
.fav-city,
.fav-city.ng-enter-active {
    background-color: rgba(0, 0, 0, .4);
    border-style: none;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;
    margin: 0.3em 0.5em;
    padding: 0.6em 1em;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}
.fav-city,
.fav-city.ng-enter-active {
    cursor: pointer;
    max-width: 10em;
    min-width: 4em;
    text-align: center;
}
.fav-city.active,
.fav-city:hover {
    background-color: rgba(100, 100, 100, .3);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    transition: all .2s;
}
.fav-city > span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.fav-city > .remove {
    background-color: #FF4100;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    float: right;
    font-weight: bold;
    position: relative;
    top: -15px;
    right: -8px;
    margin: auto -10px;
    line-height: 18px;
    opacity: .8;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
.fav-city > .remove::after {
    content: 'x';
}
.fav-city > .remove:hover {
    background-color: #FF642F;
}
.fav-city > .remove.ng-hide {
    opacity: 0;
    display: block !important;
    transition: all linear .1s;
    width: 0px;
    height: 0px;
    top: -10px;
    right: -3px;
    font-size: 1px;
    line-height: 1px;
}

.weather-info {
    margin-top: 3em;
    display: block;
    border-radius: 0px;
    overflow: auto;
}
.weather-data {
    display: inline-block;
    background-color: rgba(0,0,0,.2);
    padding: 5px;
    margin: 2.5px;
}

.complimentary-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
